<div class = "container">
  <div class = "row">
    <div class = "main-top d-flex mt-4 mx-auto">
      <div class = "main-top-logo mr-5" >
        <%= image_tag(src= "logo.png", size: "200x200") %>
        <h5>
          あったらいいな<br>
          そんな思いを形にする場所
        </h5>
      </div>
      <div class = "main-top-logo">
        <%= image_tag(src= "4237050_s.jpg", size: "600x400") %>
      </div>
    </div>
  </div>
  <div class = "row">
    <div class = "main-content mt-4 mx-auto text-center">
      <div class = "concept">
        <p>コンセプト</p>
        <h1>CONCEPT</h1>
        <%= image_tag(src= "concept.png", size: "700x400") %>
      </div>
      <p>ジャンル</p>
      <h1>GENRE</h1>
    </div>
  </div>
</div>