<div class = "container">
  <div class = "row">
    <div class = "companies-form mx-auto border border-secondary mt-3">

      <h2>企業申請フォーム</h2>
      <p>
        企業申請について(必読)<br>
        ここでは一般メンバーから企業メンバー(クリエイター)になるための申請を行うことができます。<br>
        企業申請を行うことができる方は以下の事項を全て厳守できる場合のみとさせていただきますのでご了承ください。<br>
        1.クリエイターは一般メンバーのアイディアを採用した際、良識のある意見交換や進捗等の連絡を行った上で話を進めること。<br>
        2.どちらか一方のメンバーの条件が何らかの形で不利益を被る際は、最良の道を検討すること。<br>
        3.条件の提示等の交渉、進捗報告による話し合いなどで横暴な行為、発言は行わないこと。<br>
        4.採用後に話がうまく進まずに頓挫してしまった場合、採用を行ったクリエイターはアイディア主に連絡を行い、<br>
          適切な理由を伝えた後に採用ステータスを採用から不採用に変更を行うために、問い合わせフォームからその旨を伝えること<br>
        5.採用後の開発における一時休止等でも、ステータスを休止中にする等の対応を行うこと(状況に合わせて任意でお願いします)。<br>
        6.採用後クリエイター側で完成に結びつけることができた場合、アイディア主に連絡を行いその旨を伝えること<br>
        7.良識にかけた行為はこちらの判断での対応を了承すること。<br>
      </p>
      <p>
        企業申請の受理後について(必読)<br>
        可能となる機能<br>
        1.不採用アイディアの閲覧が可能になる。<br>
        2.一般メンバーのアイディア詳細に採用ステータスの変更フォームができる.<br>
          ただし、この機能の悪用を防ぐ目的で採用から不採用への変更は問い合わせフォームでその旨を伝え、管理者が行うこととする。<br>
        制限される機能<br>
        1.新規アイディア投稿<br>
        2.企業申請<br>
      </p>
      <%= form_with model:@company,local: true do |f| %><!--コントローラに方で申請中に変えてもらう。また、ログインメンバーのみで来る作業なのでこちらでidの指定はいらない-->
        <%= f.submit "上記の内容を受け入れ、申請を行う" %>
      <% end %>
    </div>
  </div>
</div>