<div class = "inquiry-content" style = "min-height:550px;">
  <div class="page-header">
    <h1>お問い合わせ</h1>
  </div>
  <p>
    お問い合わせいただきありがとうございました。
  </p>
  <%= link_to "トップ画面に戻る","/",class: 'btn btn-primary' %>
  <%= link_to "追加で問い合わせを行う",inquiry_path,class: 'btn btn-info' %>
</div>